/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f1f1f5;
}

h1 {
    color: #303030;
}

#subtitle {
    font-weight: normal;
}

/* Input Styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #47a84b;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Adds space above the button */
}

button:hover {
    background-color: #419845;
}

#fileUpload {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#fileInput {
    font-size: 16px;
    margin-left: 70px;
    cursor: pointer;
}


/* Word Container Styles */
.wordContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

/* Word Box Styles */
.wordBox {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    padding: 10px;
    min-width: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Rank, Word, and Frequency Styles */
.rank {
    font-weight: bold;
    color: #333;
}

.word {
    font-size: 18px;
    color: #0179fa;
}

.frequency {
    color: #249d3f;
}

/* Search Styles */
.searchResult {
    margin-top: 20px;
    font-size: 18px;
    color: #303030;
}

.searchResult strong {
    color: #0179fa;
}
