<!DOCTYPE html>
<html lang="en">
<head>
    <title>FreQie - The Frequency Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
            // Refreshes the data structures used based on config input
            function refreshConfig() {
                const topWordsDataStructure = document.getElementById('topWordsDataStructure').value;
                const searchDataStructure = document.getElementById('searchDataStructure').value;

                // Refresh fetch request
                fetch('/refresh', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        topWordsDataStructure,
                        searchDataStructure
                    })
                })
                // Promise to process and dynamically update the top words UI
                .then(response => response.json())
                .then(data => {
                    const topWordsContainer = document.getElementById('topWordsContainer');
                    topWordsContainer.innerHTML = '';

                    // Fill container with new top words
                    data.topWords.forEach((wordPair, index) => {
                        const wordBox = document.createElement('div');
                        wordBox.className = 'wordBox';
                        wordBox.innerHTML = `
                            <span class="rank">#${index + 1}</span> |
                            <span class="word">${wordPair[0]}</span> |
                            <span class="frequency">${wordPair[1]}</span>
                        `;
                        topWordsContainer.appendChild(wordBox);
                    });
                });
            }

            // Displays if word was found in the query
            function searchWord() {
                const searchQuery = document.getElementById('searchQuery').value;
                const searchDataStructure = document.getElementById('searchDataStructure').value;

                // Search fetch request
                fetch('/search', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        searchQuery,
                        searchDataStructure
                    })
                })
                // Promise to process search results and update UI
                .then(response => response.json())
                .then(data => {
                    const searchResultContainer = document.getElementById('searchResultContainer');
                    searchResultContainer.innerHTML = '';

                    // Display the search result or not found
                    if (data.searchResult !== null) {
                        searchResultContainer.innerHTML = `The word "<strong>${data.searchQuery}</strong>" appears <strong>${data.searchResult}</strong> times.`;
                    } else {
                        searchResultContainer.innerHTML = `The word "<strong>${data.searchQuery}</strong>" was not found.`;
                    }
                });
            }

            // Function to handle file upload
            function uploadFile() {
                const fileInput = document.getElementById('fileInput');
                const uploadStatus = document.getElementById('uploadStatus');
                const formData = new FormData();
                formData.append('file', fileInput.files[0]);

                // File upload fetch request
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                // Promise to process upload status
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        // Display error message
                        uploadStatus.innerHTML = `<p style="color: #ce0303;">${data.error}</p>`;
                    } else {
                        // Display success message and reload page
                        uploadStatus.innerHTML = `<p style="color: #249d3f;">${data.message}</p>`;
                        location.reload();
                    }
                })
                // Handle fetch errors and display a generic error message
                .catch(err => {
                    uploadStatus.innerHTML = `<p style="color: #ce0303;">Error uploading your file.</p>`;
                });
            }
    </script>
</head>
<body>
    <h1>FreQie</h1>
    <h2 id="subtitle">Your one-stop shop for looking at word frequencies in a text!</h2>

    <hr>

    <!-- Upload Section -->
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="fileInput">Upload a .txt file:</label>
        <div id="fileUpload"><input type="file" id="fileInput" name="file" accept=".txt"></div>
        <div>
            <button type="button" onclick="uploadFile()">Upload</button>
        </div>
    </form>
    <div id="uploadStatus"></div>

    <hr>

    <!-- Text Summary Section -->
    <div id="textSummarySection">
        <h3><strong>{{ currentFileName }}</strong></h3>
        <p>This text has <strong>{{ totalWordCount }}</strong> words and <strong>{{ uniqueWordCount }}</strong> unique words.</p>
    </div>

    <hr>

    <!-- Search Section -->
    <form onsubmit="event.preventDefault(); searchWord();">
        <div id="searchQueryContainer">
            <label for="searchQuery">Search for a Word:</label>
            <input type="text" id="searchQuery" placeholder="Enter a word">
        </div>
        <button type="submit">Search Word</button>
    </form>

    <div id="searchResultContainer"></div>

    <hr>

    <!-- Top Words Section -->
    <h2>Top 100 Words</h2>
    <div id="topWordsContainer">
        {% for wordPair in topWords %}
        <div class="wordBox">
            <span class="rank">#{{ loop.index }}</span> |
            <span class="word">{{ wordPair[0] }}</span> |
            <span class="frequency">{{ wordPair[1] }}</span>
        </div>
        {% endfor %}
    </div>
</body>

    <hr>

    <!-- Config Section -->
    <h3>Config</h3>
    <div>
        <label for="topWordsDataStructure">Data Structure for Top Words:</label>
        <select id="topWordsDataStructure">
            <option value="maxHeap" {% if topWordsDataStructure =='maxHeap' %}selected{% endif %}>Max Heap</option>
            <option value="unorderedMap" {% if topWordsDataStructure =='unorderedMap' %}selected{% endif %}>Unordered Map</option>
        </select>
    </div>

    <div>
        <label for="searchDataStructure">Data Structure for Search:</label>
        <select id="searchDataStructure">
            <option value="unorderedMap" {% if searchDataStructure =='unorderedMap' %}selected{% endif %}>Unordered Map</option>
            <option value="maxHeap" {% if searchDataStructure =='maxHeap' %}selected{% endif %}>Max Heap</option>
        </select>
    </div>

    <button onclick="refreshConfig()">Refresh</button>
</body>
</html>
